<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo__container">
          <img src="../../assets/icons/logo.svg" alter="logo" />
          <a class="logo__name" href="#">TreeVitae</a>
        </div>

        <!-- Para el Responsive <div class="nav__hamburguer"></div> -->

        <ul class="nav__links">
          <li class="nav__item">
            <a href="../initiatives/viewall.initiatives.html">Iniciativas</a>
          </li>
          <li class="nav__item">
            <a href="../post/viewall.posts.html">Posts</a>
          </li>
          <li class="nav__item">
            <a href="#">Preguntas</a>
          </li>
          <li class="nav__item">
            <a href="#">About</a>
          </li>
        </ul>

        <div class="nav__btns">
          <a href="#" class="link__outline">Register</a>
          <a href="#" class="btn__normal">
            <img src="../../assets/icons/user.svg" alt="" />
            Login</a
          >
        </div>
      </nav>

      <footer class="footer">
        <div class="logo__container">
          <img src="../../assets/icons/logo.svg" alter="logo" />
          <a class="logo__name" href="#">TreeVitae</a>
        </div>

        <div class="footer__container">
          <section class="footer__section">
            <h2>Acerca de nosotros</h2>
            <a href="#" class="btn__normal">
              <img src="../../assets/icons/user.svg" alt="" />
              Login</a
            >
          </section>

          <section class="footer__section">
            <h2>Contactanos</h2>
            <a class="link" href="#">Contacto</a>
            <a class="link" href="#">Soporte</a>
          </section>

          <section class="footer__section">
            <h2>Social Media</h2>
            <a href="#" class="link" target="_blank">Github</a>
            <a href="#" class="link" target="_blank">Youtube</a>
            <a href="#" class="link" target="_blank">Discord</a>
          </section>
        </div>

        <hr class="separetor__horizontal" />

        <div class="content__made-with">
          <p class="made__text">
            Made with ❤ by <a class="link"> @Savecoders </a> | <a class="link"> @Angelvigar </a> |
            <a class="link"> @AbrahamzzZ </a> |
            <a class="link"> @joseandresagurto </a>
          </p>
        </div>

        <p class="copyright">Copyright © 2022 TreeVitae. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
