<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" href="../../assets/icons/logo.svg" type="image/svg+xml" />
    <title>Preguntas | TreeVitae</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="logo__container">
          <img src="../../assets/icons/logo.svg" alt="TreeVitae logo" />
          <a class="logo__name" href="../home/index.html">TreeVitae</a>
        </div>

        <!-- Para el Responsive <div class="nav__hamburguer"></div> -->

        <ul class="nav__links">
          <li class="nav__item">
            <a href="../initiatives/viewall.html">Iniciativas</a>
          </li>
          <li class="nav__item">
            <a href="../post/viewall.html">Posts</a>
          </li>
          <li class="nav__item">
            <a href="../home/preguntas.html">Preguntas</a>
          </li>
          <li class="nav__item">
            <a href="../home/contact.html">About</a>
          </li>
        </ul>

        <div class="nav__btns">
          <a href="#" class="link__outerline">Register</a>
          <a href="#" class="btn primary__with-icon">
            <img src="../../assets/icons/user.svg" alt="User icon" />
            Login
          </a>
        </div>
      </nav>

      <main class="main__container__content">
        <div class="breadcrumbs flex-row">
          <a href="../home/index.html">Home</a>
          <span class="breadcrumbs__arrow"> / </span>
          <a href="#">Iniciativas</a>
        </div>
      </main>

      <footer class="footer">
        <div class="logo__container">
          <img src="../../assets/icons/logo.svg" alt="TreeVitae logo" />
          <a class="logo__name" href="#">TreeVitae</a>
        </div>

        <div class="footer__container">
          <section class="footer__section">
            <h2>Acerca de nosotros</h2>
            <a href="#" class="btn primary__with-icon">
              <img src="../../assets/icons/user.svg" alt="User icon" />
              Login
            </a>
          </section>

          <section class="footer__section">
            <h2>Contactanos</h2>
            <a class="link" href="#">Contacto</a>
            <a class="link" href="#">Soporte</a>
          </section>

          <section class="footer__section">
            <h2>Social Media</h2>
            <a href="#" class="link" target="_blank"
              >Github
              <img src="../../assets/icons/external-link.svg" alt="External link icon" />
            </a>
            <a href="#" class="link" target="_blank"
              >Youtube
              <img src="../../assets/icons/external-link.svg" alt="External link icon" />
            </a>
            <a href="#" class="link" target="_blank"
              >Discord
              <img src="../../assets/icons/external-link.svg" alt="External link icon" />
            </a>
          </section>
        </div>

        <hr class="separetor__horizontal" />

        <div class="content__made-with">
          <p class="made__text">
            Made with ❤ by
            <a target="_blank" class="link" href="https://github.com/Savecoders">@Savecoders</a> |
            <a target="_blank" class="link" href="https://github.com/Angelvigar">@Angelvigar</a> |
            <a target="_blank" class="link" href="https://github.com/AbrahamzzZ">@AbrahamzzZ</a> |
            <a target="_blank" class="link" href="https://github.com/JoseAndresAgurtoPincay"
              >@JoseAndresAgurtoPincay</a
            >
            |
            <a target="_blank" class="link" href="https://github.com/Gabo-UG">@Gabo-UG</a>
          </p>
        </div>

        <p class="copyright">Copyright © 2022 TreeVitae. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
